<div class="boxPagina">
    <div class="textoTopo" style="padding-bottom:320px">
        @{
            ViewBag.Title = "About";
        }
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
        </div>
</div>