@{
    /**/

    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{

    
    if (User.IsInRole("Admin"))
    {

        <div class="jumbotron">
            <div align="center">
                <h5><b>Vagas disponíveis</b></h5>
                <p class="lead"><h5>Número de vagas disponíveis</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Meus Veículos</b></h5>
                <p>
                <p class="lead"><h5>Número de veículos registrados</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Minhas vagas</b></h5>
                <p>
                <p class="lead"> <h5>Número de vagas agendadas</h5></p>
            </div>
        </div>
    }
    else if (User.IsInRole("Funcionário"))
    {
        <div class="jumbotron">
            <div align="center">
                <h5><b>Vagas disponíveis</b></h5>
                <p class="lead"><h5>Número de vagas disponíveis</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Meus Veículos</b></h5>
                <p>
                <p class="lead"><h5>Número de veículos registrados</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Minhas vagas</b></h5>
                <p>
                <p class="lead"> <h5>Número de vagas agendadas</h5></p>
            </div>
        </div>
    }
    else if (User.IsInRole("Cliente"))
    {
        <div class="jumbotron">
            <div align="center">
                <h5><b>Vagas disponíveis</b></h5>
                <p class="lead"><h5>Número de vagas disponíveis</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Meus Veículos</b></h5>
                <p>
                <p class="lead"><h5>Número de veículos registrados</h5></p>
            </div>
        </div>

        <div class="jumbotron">
            <div align="center">
                <h5><b>Minhas vagas</b></h5>
                <p>
                <p class="lead"> <h5>Número de vagas agendadas</h5></p>
            </div>
        </div>
    }
}