/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}


.middlebar {
    display: none;
}

@media (min-width: 100px) {
    .middlebar {
        position: fixed;
        top: 47px;
        bottom: 410px;
        left: 226px;
        z-index: 998;
        display: block;
        padding: 20px;
        color:#333;
        background-color: #eceff1;
                   /* background-image: linear-gradient(#555,#11111140);*/
        box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
                   0 1px 5px 0 rgba(0,0,0,.12);
        
    }
}



/*
 * Main content
 */

.main {
    padding: 40px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        padding-top:180px;

    }
}

.main .page-header {
    margin-top: 0;
}

