@model IEnumerable<Go_Parking.Models.VagasViewModel>

<head>
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

</head>

@{
    if (TempData["MensagemSucesso"] != null)
    {
        <script type="text/javascript">

            alert("Vaga liberada com sucesso!");
        </script>
    }
    else if (TempData["Deletado"] != null)
    {
        <script type="text/javascript">

            alert("Reserva cancelada com sucesso!");
        </script>
    }
}
<div class="boxPagina">
    <h2>Vagas</h2>

    @{ if (User.IsInRole("Admin"))
        {
            <p>
                <a href="@Url.Action("Cadastrar", "Vagas")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus "></span> Cadastrar Vaga
                </a>
            </p>
        }
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                <p>Qtd. Reservas hoje</p>
            </th>
            <th>
                <span>Ações</span>
            </th>
        </tr>
        @{ foreach (var item in Model)
            {

                @Html.Partial("_Listagem", item)
            }
        }
    </table>
</div>
