
<div class="modal show  modal-overlay modal-fundo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 630px">
        <div class="modal-content" style="margin: 70px 100px">
            <div class="modal-header">
                <h2 class="text-center">@ViewBag.Title</h2>
                <h4 class="text-center">Digite seu e-mail</h4>
            </div>
            <div class="modal-body text-center">
                <p>Acesse seu e-mail para resetar sua senha</p>

                <span style="margin:50px"><p>@Html.ActionLink("Retorna para a tela de login.", "Login")</p></span>

            </div>
        </div>
    </div>
</div>